.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 135px;
  right: 360px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

#Header {
  font-family: 'Julius Sans One';
  font-size: 50px;
  text-align: center;

}

#catchphrase {
  font-family: 'Arial';
  font-size: 30px;
  font-style: italic;
  text-align:center;

}

.footer {
  text-align: center;
  padding-top: 10px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #990066;
  color: white;
}
.fa-tumblr {
  background: #2c4762;
  color: white;
}

#title2 {
  font-family: 'Julius Sans One';
  text-align: center;
  margin-top: 50px;
}
#title3 {
  font-family: "Arial";
  text-align: center;

}

#article {
  font-family: 'Amiko';font-size: 22px;
  margin-left: 200px;
  margin-right: 200px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  height: 20%;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width:auto;
  height:25px;
}
